[package]
name = "r3bl_tui"
version = "0.5.9"
edition = "2021"
resolver = "2"
description = "TUI library to build modern apps inspired by Elm, with Flexbox, CSS, editor component, emoji support, and more"
# At most 5 keywords w/ no spaces, each has max length of 20 char.
keywords = ["tui", "editor", "flexbox", "terminal", "emoji"]
categories = ["command-line-interface", "command-line-utilities"]
readme = "README.md"                                              # This is not included in cargo docs.
# Email address(es) has to be verified at https://crates.io/me/
authors = [
  "Nazmul Idris <idris@developerlife.com>",
  "Nadia Idris <nadia@developerlife.com>",
]
repository = "https://github.com/r3bl-org/r3bl-open-core/tree/main/tui"
documentation = "https://docs.rs/r3bl_tui"
homepage = "https://r3bl.com"
license = "Apache-2.0"

[lib]
name = "r3bl_tui"
path = "src/lib.rs"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
# r3bl-open-core.
r3bl_core = { path = "../core", version = "0.10.0" }            # version is requried to publish to crates.io
r3bl_macro = { path = "../macro", version = "0.9.10" }          # version is requried to publish to crates.io
r3bl_ansi_color = { path = "../ansi_color", version = "0.7.0" } # version is requried to publish to crates.io

# Time
chrono = "0.4.38"

# Misc
rand = "0.8.5"

# Crossterm & EventStream support.
crossterm = { version = "0.28.1", features = ["event-stream"] }
futures-util = "0.3.31"

# https://github.com/serde-rs/serde.
serde = { version = "1.0.210", features = ["derive"] }
serde_json = "1.0.132"

# strum.
strum = "0.26.3"
strum_macros = "0.26.4"

# Syntax highlighting.
syntect = "5.2.0"

# nom parser combinator.
nom = "7.1.3"

# For examples.
# http://xion.io/post/code/rust-examples.html

# For clipboard.
copypasta-ext = "0.4.4"

# For size of variables in heap.
size-of = "0.1.5"

# Tokio / Tracing / Logging.
# https://tokio.rs/tokio/topics/tracing
# https://tokio.rs/tokio/topics/tracing-next-steps
tokio = { version = "1.40.0", features = ["full", "tracing"] }
tracing = "0.1.40"
tracing-subscriber = "0.3.18"
tracing-appender = "0.2.3"
tracing-core = "0.1.32"

# Error handling.
thiserror = "1.0.64"
miette = { version = "7.2.0", features = ["fancy"] }
pretty_assertions = "1.4.1"

# Unicode, grapheme clusters.
unicode-width = "0.2.0"
unicode-segmentation = "1.12.0"

[dev-dependencies]
# - Async readline for running examples, with the source code checked out for
#   r3bl-open-core repo.
# - This is not a dependency for the library, and is not used when the library is
#   published or used as a dependency.
r3bl_terminal_async = { path = "../terminal_async" }
r3bl_test_fixtures = { path = "../test_fixtures" }

# For assert_eq2! macro.
pretty_assertions = "1.4.1"
textwrap = "0.16.1"
serial_test = "3.1.1"

# Enum to string generation.
strum = "0.26.3"
strum_macros = "0.26.4"
