[package]
name = "r3bl_tui"
version = "0.5.3"
edition = "2021"
resolver = "2"
description = "TUI library to build modern apps inspired by Elm, with Flexbox, CSS, editor component, emoji support, and more"
# At most 5 keywords w/ no spaces, each has max length of 20 char.
keywords = ["tui", "editor", "flexbox", "terminal", "emoji"]
categories = ["command-line-interface", "command-line-utilities"]
readme = "README.md"                                              # This is not included in cargo docs.
# Email address(es) has to be verified at https://crates.io/me/
authors = [
  "Nazmul Idris <idris@developerlife.com>",
  "Nadia Idris <nadia@developerlife.com>",
]
repository = "https://github.com/r3bl-org/r3bl-open-core/tree/main/tui"
documentation = "https://docs.rs/r3bl_tui"
homepage = "https://r3bl.com"
license = "Apache-2.0"

[lib]
name = "r3bl_tui"
path = "src/lib.rs"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
# r3bl-open-core.
r3bl_rs_utils_core = { path = "../core", version = "0.9.13" }
r3bl_rs_utils_macro = { path = "../macro", version = "0.9.8" }
r3bl_ansi_color = { path = "../ansi_color", version = "0.6.9" }
log = { version = "0.4.20", features = ["std"] }                # Logging.

# Time
chrono = "0.4.31"

# Misc
rand = "0.8.5"

# Async
tokio = { version = "1.33.0", features = ["full"] }

# Crossterm & EventStream support.
crossterm = { version = "0.27.0", features = ["event-stream"] }
futures-util = "0.3.29"

# https://github.com/serde-rs/serde.
serde = { version = "1.0.190", features = ["derive"] }
serde_json = "1.0.107"

# get-size.
get-size = { version = "0.1.4", features = ["derive"] }

# strum.
strum = "0.25.0"
strum_macros = "0.25.3"

# Syntax highlighting.
syntect = "5.1.0"

# nom parser combinator.
nom = "7.1.3"

# color gradients.
colorgrad = "0.6.2"

# Terminal.
is-terminal = "0.4.9"

# For examples.
# http://xion.io/post/code/rust-examples.html

# For clipboard.
copypasta-ext = "0.4.4"

[dev-dependencies]
# For assert_eq2! macro.
pretty_assertions = "1.4.0"
reedline = "0.28.0"
textwrap = "0.16.0"
serial_test = "2.0.0"
