node_modules
package-lock.json
/target
**/target
docs/*.bkp
docs/*.dtmp
log.txt
crash_log.txt
**/flamegraph.svg
**/perf.data
**/perf.data.old
*.log
.serena/cache
.serena/memories
rustc-ice-*.txt
rust-toolchain-script.lock*
