# https://doc.rust-lang.org/book/ch14-03-cargo-workspaces.html#creating-the-second-package-in-the-workspace
[workspace]
members = [
  "analytics_schema",
  "ansi_color",
  "cmdr",
  "core",
  "macro",
  "terminal_async",
  "test_fixtures",
  "tui",
  "tuify",
] # Make sure to keep these in sync with `run` nushell script `workspace_folders`.
resolver = "2"

# https://github.com/trailofbits/cargo-unmaintained
[workspace.metadata.unmaintained]
ignore = ["gethostname", "objc", "home", "proc-macro-error", "wayland-commons"]
