[licenses]
allow = ["MIT", "Apache-2.0", "BSL-1.0", "ISC", "BSD-3-Clause", "MPL-2.0"]

exceptions = [
    { name = "unicode-ident", allow = [
        "Unicode-DFS-2016",
    ] },
    { name = "is_ci", allow = [
        "ISC",
    ] },
]
