[package]
name = "r3bl-cmdr"
version = "0.0.16"
readme = "README.md"
edition = "2021"
homepage = "https://r3bl.com"
license = "Apache-2.0"

description = """
A TUI app suite for developers. Includes a Markdown editor `edi` and a git client `giti`.
"""
# At most 5 keywords w/ no spaces, each has max length of 20 char.
keywords = ["tui", "editor", "git", "tuify"]
categories = ["command-line-interface", "command-line-utilities"]

repository = "https://github.com/r3bl-org/r3bl-open-core"
authors = [
  "Nazmul Idris <idris@developerlife.com>",
  "Nadia Idris <nadia@developerlife.com>",
]
documentation = "https://docs.rs/r3bl-cmdr"

# More info on default-run: https://stackoverflow.com/a/51790493/2085356
default-run = "rc"

[[bin]]
name = "giti"
path = "src/bin/giti.rs"

[[bin]]
name = "edi"
path = "src/bin/edi.rs"

[[bin]]
name = "rc"
path = "src/bin/rc.rs"

[lib]
name = "r3bl_cmdr"
path = "src/lib.rs"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
# R3BL crates (from this mono repo).
r3bl_ansi_color = { path = "../ansi_color", version = "0.6.10" }            # version is requried to publish to crates.io
r3bl_rs_utils_core = { path = "../core", version = "0.9.16" }               # version is requried to publish to crates.io
r3bl_macro = { path = "../macro", version = "0.9.10" }             # version is requried to publish to crates.io
r3bl_tui = { path = "../tui", version = "0.5.9" }                           # version is requried to publish to crates.io
r3bl_tuify = { path = "../tuify", version = "0.1.27" }                      # version is requried to publish to crates.io
r3bl_analytics_schema = { path = "../analytics_schema", version = "0.0.2" } # version is requried to publish to crates.io
log = { version = "0.4.22", features = ["std"] }

# Reqwest (HTTP client).
reqwest = { version = "0.12.7", features = ["json"] }

# Clap.
# More info: https://stackoverflow.com/a/76131914/2085356
clap = { version = "4.5.17", features = ["derive", "wrap_help", "help"] }

# serde-json.
serde = { version = "1.0.210", features = ["derive"] }
serde_json = "1.0.128"

# Time.
chrono = "0.4.38"

# Misc.
rand = "0.8.5"

# Crossterm styling.
crossterm = { version = "0.28.1" }

# Open URLs.
open = "5.3.0"

# Save config files.
dirs = "5.0.1"

# Reedline.
reedline = "0.34.0"

# Tokio / Tracing / Logging.
# https://tokio.rs/tokio/topics/tracing
# https://tokio.rs/tokio/topics/tracing-next-steps
tokio = { version = "1.40.0", features = ["full", "tracing"] }
tracing = "0.1.40"
tracing-subscriber = "0.3.18"
tracing-appender = "0.2.3"
tracing-core = "0.1.32"

[dev-dependencies]
pretty_assertions = "1.4.0"
serial_test = "3.1.1"
