[build]
rustflags = ["-Z", "threads=8"]  # Parallel frontend compiler

[target.x86_64-unknown-linux-gnu]
linker = "clang"
rustflags = [
    "-Z", "threads=8",  # Parallel compilation
    "-C", "link-arg=--ld-path=wild"  # Wild linker
]

[target.aarch64-unknown-linux-gnu]
linker = "clang"
rustflags = [
    "-Z", "threads=8",  # Parallel compilation
    "-C", "link-arg=--ld-path=wild"  # Wild linker
]

[profile.dev]
incremental = false  # Disable to avoid rustc dep graph ICE on nightly

[profile.test]
incremental = false  # Disable to avoid rustc dep graph ICE on nightly
