name: Rust

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - uses: hustcer/setup-nu@v3.8
        with:
          version: 0.86
      - name: install cargo-fmt
        run: rustup component add rustfmt
      - name: Run Nushell script
        run: nu run all-cicd
